/* .mySwiper{
    height: 200px;
    width: 900px;
} */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #0f172a;;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.slider-container {
  position: relative;
}

.searchbox {
  border: 2px solid black;
  border-radius: 20px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: bisque;
  padding: 20px;
  margin-top: 275px;
  color: black;
  margin-left: -350px;
}

.srchheading{
  /* padding-left: 110px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.searchglass{
  /* margin-left: -40px;
  margin-top: -30px;
  margin-bottom: -12px;
  position: relative; */
  height: 25px;
  width: 25px;
}

.fs{
  height: 40px;
  width: 355px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon;
}

.ts{
  height: 40px;
  width: 355px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon;
}

.time{
  height: 40px;
  width: 355px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon;
}

.btn{
  margin-left: 125px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: orange;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Electric Border css */
.electric-border {
  --electric-light-color: oklch(from var(--electric-border-color) l c h);
  position: relative;
  border-radius: inherit;
  overflow: visible;
  isolation: isolate;
}

.eb-canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

.eb-canvas {
  display: block;
}

.eb-content {
  position: relative;
  border-radius: inherit;
  z-index: 1;
}

.eb-layers {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 0;
}

.eb-glow-1,
.eb-glow-2,
.eb-background-glow {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  box-sizing: border-box;
}

.eb-glow-1 {
  border: 2px solid oklch(from var(--electric-border-color) l c h / 0.6);
  filter: blur(1px);
}

.eb-glow-2 {
  border: 2px solid var(--electric-light-color);
  filter: blur(4px);
}

.eb-background-glow {
  z-index: -1;
  transform: scale(1.1);
  filter: blur(32px);
  opacity: 0.3;
  background: linear-gradient(-30deg, var(--electric-light-color), transparent, var(--electric-border-color));
}

/* Sign Up css */
.name-head{
  font-size: large;
}

.name-box{
  height: 25px;
  width: 325px;
  border-radius: 7px;
  background-color: white;
  color: black;
  border-color: black;
}

.signup-button{
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  width: 80px;
  background-color: black;
  margin-left: 150px;
}

.signup-login{
  margin-left: 125px;
  margin-top: 10px;
}

.login{
  color: gold;
  cursor: pointer;
}

.login:hover{
  text-decoration: underline;
}

.hide-eye{
  margin-left: 300px;
  margin-top: -20px;
  color: black;
}

/* Lightrays css */

.light-rays-container {
  width: 100%;
  height: 100vh;
  position: relative;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.light-rays-container {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* Login box  */

.login-box{
  border: 1px solid white;
  height: 400px;
  width: 350px;
  border-radius: 25px;
  margin-left: 37.5%;
  margin-top: 8%;
}

.name-box2{
  height: 35px;
  width: 275px;
  border-radius: 7px;
  background-color: white;
  color: black;
  /* border-color: black; */
}

.login-button{
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  width: 80px;
  background-color: black;
  margin-left: 100px;
  margin-top: 10px;
}

.login-signup{
  margin-left: 50px;
  margin-top: 20px;
}

.login-signup-link{
  color: gold;
  cursor: pointer;
}

.login-signup-link:hover{
  text-decoration: underline;
}

/* Trains css begin */
.background{
  /* background-color: black; */
  background-color: #444;
  width: 100%;
  height: 100vh;
}

.train-searchbox{
  border: 1px solid white;
  height: 100px;
  width: 800px;
  margin-left: 275px;
  border-radius: 20px;
}

.box-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: -2px;
}

.from-station{
  height: 45px;
  width: 250px;
  margin-top: 27px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 15px;
}

/* Booking form css begin */
.formbox{
  border: 2px solid red;
  height: 30px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.formbox2{
  margin-left: 50px;
  border: 2px solid red;
  height: 30px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.confirmbooking{
  margin-top: 25px;
  height: 40px;
  width: 120px;
  border: 2px solid red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  color: black;
}

/* .male{
  margin-left: -60px;
}

.female{
  padding-left: 40px;
}

.other{
  padding-right: 150px;
} */