/* .mySwiper{
    height: 200px;
    width: 900px;
} */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.slider-container {
  position: relative;
}

.searchbox {
  border: 2px solid black;
  border-radius: 20px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: bisque;
  padding: 20px;
  margin-top: 275px;
  color: black;
  margin-left: -350px;
}

.srchheading{
  /* padding-left: 110px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.searchglass{
  /* margin-left: -40px;
  margin-top: -30px;
  margin-bottom: -12px;
  position: relative; */
  height: 25px;
  width: 25px;
}

.fs{
  height: 40px;
  width: 355px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon;
}

.ts{
  height: 40px;
  width: 355px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon;
}

.time{
  height: 40px;
  width: 355px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon;
}

.btn{
  margin-left: 125px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: orange;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}